body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'PT Sans', sans-serif;
    background: #eee;
}

header {
    max-width: 656px;
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
}

main {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(6, 6rem);
    grid-auto-rows: 6rem;
}

main article {
    background-color: #23211C;
    border-radius: 999rem;
    cursor: pointer;
}

main article.hit {
    animation: spin .9s ease;
    background-image: url('../img/mole.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

@keyframes spin {
    from { transform: rotateZ(0deg) scale(1); opacity: 1; }
      to { transform: rotateZ(720deg) scale(2); opacity: 0; }
}

main article.mole {
    background-image: url('../img/mole.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}